# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build folders
/exe/build/
/exe/*.spec

# VSCode settings
.vscode/

# Environment files
.env
.venv/
venv/

# OS files
.DS_Store
Thumbs.db
